<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>364961060184-2unu7erl2mdg6aci691afqoib8gfdfmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364961060184-2unu7erl2mdg6aci691afqoib8gfdfmp</string>
	<key>API_KEY</key>
	<string>AIzaSyACcE62AjsStzm7vy2HCYciSQtYnZOTV4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>364961060184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dpavlekovic.ARVehNav</string>
	<key>PROJECT_ID</key>
	<string>arvehnav</string>
	<key>STORAGE_BUCKET</key>
	<string>arvehnav.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364961060184:ios:7286f14b9601d604</string>
	<key>DATABASE_URL</key>
	<string>https://arvehnav.firebaseio.com</string>
</dict>
</plist>